<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
 <p>Tags: <% @post.tags.each do |tag| %>
    <a href="/tags/<%= tag.name %>"><%= tag.name %></a>
 <% end %>
</p>

<a href="/posts/edit/<%= @post.id %>"><button class="btn btn-default">Edit</button></a>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-default" value="submit">Delete</button>
</form>







